body {
    background: url(/src/assets/images/background_pc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    @media (max-width: 870px) {
       /* background: url(../images/background_phone.png);*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
}  