*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(/cropped-black-chrome-gradient-ui-gradient-background.jpg) 
}

#app{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #eee
}

.container{
    background-color: #2c3e50;
    display: flexbox;
    flex-direction: row;
    text-align: center;
    padding: 1rem;
}

.container a{
    text-decoration: none;
    color: #eee;
    padding-left: 1rem;
}

.container a:hover{
    text-shadow: 1px 1px 20px black, 0 0 1em #eee, 0 0 0.2em #eee;
    font-weight: 600;
    font-size: 1rem;
}

.tienda{
    margin: 1rem;
    text-align: start;
    display:block;
    flex-direction: row;
}

.tienda a{
    text-decoration: none;
    color: #eee;   
}

.tienda p{
    font-size: 1rem;  
}

.tienda a:hover{
    text-shadow: 1px 1px 20px black, 0 0 1em #eee, 0 0 0.2em #eee;
    font-weight: 600;
    font-size: 1rem;
}

.videogame{
    color: #eee;
    padding: 2rem;
}

.novedades{
    display: grid;
    flex-direction: row;
    margin: 1rem;
    text-align: start;
    display:block;
    flex-direction: row;
    text-decoration: none;
    color: #eee;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.novedades h1{
    padding-bottom: 1rem;
}


.novedades h2{
    color: #eee;
    text-decoration: none;
}

.novedades img{
    height: 10rem;
    transition: transform .5s ease;
}

.novedades img:hover{
    opacity: 65%;
    transform: scale(1.1);
}
